---
layout: post
title: Appistry
date: '2011-03-18T23:36:00.000-07:00'
author: Susanthab
tags: 
modified_time: '2011-03-18T23:36:49.299-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-5570549014638333655
permalink: /2011/03/appistry.html
---

<span class="Apple-style-span" style="font-family: Verdana, sans-serif;">While I was reading&nbsp;<a href="http://www.sswug.org/">SSWUG</a>&nbsp;magazine I got to know about this word. Then I did more into that and found it is a technology solution for web scale to petabyte large data. So it is interesting to read more about it. Use this link for more information.</span><br /><span class="Apple-style-span" style="font-family: Verdana, sans-serif;"><br /></span><br /><a href="http://www.appistry.com/blog/"><span class="Apple-style-span" style="font-family: Verdana, sans-serif;">http://www.appistry.com/blog/</span></a>