---
layout: post
title: 'Couchbase: Bucket (Database) Architecture'
date: '2017-11-16T14:17:00.001-08:00'
author: Susanthab
tags: 
modified_time: '2017-11-16T14:17:24.938-08:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-8358895470458250168
permalink: /2017/11/couchbase-bucket-database-architecture.html
---

<div style="font-family: Calibri, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);">  <b style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit;">Introduction</b></div>  <div>  <div style="font-family:Calibri,Helvetica,sans-serif; font-size:12pt; color:rgb(0,0,0)">  <div><br>  </div>  <div>In Couchbase, a bucket is similar to a database in other DB systems. Application inserts data directly into a bucket(s) and there is no any other schema or objects inside it. A bucket contains documents.</div>  <br>  </div>  <div style="font-family:Calibri,Helvetica,sans-serif; font-size:12pt; color:rgb(0,0,0)">  <a href="https://www.linkedin.com/pulse/couchbase-bucket-database-architecture-susantha-bathige/" alt="https://www.linkedin.com/pulse/couchbase-bucket-database-architecture-susantha-bathige/">Read more</a></div>  </div>  