---
layout: post
title: Couchbase - the engagement database system
date: '2017-10-20T10:16:00.000-07:00'
author: Susanthab
tags: 
modified_time: '2017-10-20T16:09:39.498-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-1270860572925675724
permalink: /2017/10/couchbase-engagement-database-system.html
---

<div dir="ltr"><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;">Today, I just wrapped up the four-day Couchbase administration course from Couchbase. Since I'm still new to this NoSQL world, it is tons of new stuff. Couchbase refers themselves&nbsp;as beyond just a NoSQL database, they call it engagement database system.&nbsp;</div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;"><br /></div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;">Couchbase also has SQL style query language which they call it as N1QL. Using N1QL you can query the JSON documents stored in Couchbase buckets.&nbsp;</div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;"><br /></div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;">What is so special about Couchbase with opposed to the other NoSQL databases like Cassandra and MongoDB is, they provide multi-dimensional&nbsp;scalability which is essentially, different database components like data service, query service, index service and full-text services can be scaled in/out independently. This concept makes distributed system even more complex in my opinion. The main advantage of multi-dimensional&nbsp;scaling is, you can select different&nbsp;hardware resources for each service to best suit its workload which is a very good thing.&nbsp;</div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;"><br /></div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;">Couchbase provides very good&nbsp;free online courses if you want to get familiar&nbsp;with the database system.</div><div class="gmail_default" style="color: rgb(0 , 0 , 0); font-family: &quot;verdana&quot; , sans-serif; font-size: small;"><br /></div><div class="gmail_default"><span style="color: black; font-family: &quot;verdana&quot; , sans-serif;"><a href="https://training.couchbase.com/" target="_blank">https://training.couchbase.com/</a></span></div><div class="gmail_default"><br /></div><div class="gmail_default">So next few months I'll be working on Couchbase closely with automation on AWS platform.&nbsp;</div><div class="gmail_default"><br /></div><div class="gmail_default">Cheers!</div></div>