---
layout: post
title: Cloud Spanner - Google's mission critical and massively scale RDBMS with NoSQL
  features
date: '2017-04-26T08:38:00.000-07:00'
author: Susanthab
tags:
- New Trends
- Cloud Spanner
- News
modified_time: '2017-04-27T13:24:38.569-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-3786103691374511658
permalink: /2017/04/cloud-spanner-googles-mission-critical.html
---

<div dir="ltr"><div class="gmail_default"><div class="gmail_default"><span style="color: black; font-family: &quot;verdana&quot; , sans-serif;">Isn't this amazing?</span></div><div class="gmail_default"><span style="color: black; font-family: &quot;verdana&quot; , sans-serif;">A database system which blends most important relational components and highly scalable NoSQL capabilities in one system. Google call it, <a href="https://cloudplatform.googleblog.com/2017/02/introducing-Cloud-Spanner-a-global-database-service-for-mission-critical-applications.html" target="_blank">Cloud Spanner</a>.&nbsp;</span></div><div class="gmail_default"><span style="color: black; font-family: &quot;verdana&quot; , sans-serif;"><br /></span></div><div class="gmail_default"><span style="color: black; font-family: &quot;verdana&quot; , sans-serif;">As per Google, it can scale massively to hundreds of data centers around the globe. Most importantly it can speak SQL which is the strongest database language so far.&nbsp;</span><br /><br /><span style="color: black; font-family: &quot;verdana&quot; , sans-serif;">In a nutshell, Cloud Spanner has the following features.&nbsp; </span></div><div class="gmail_default"><ul><li>Data consistency</li><li>Scales horizontally across data centers</li><li>Speaks SQL&nbsp;</li><li>Strong consistency and availability at global scale</li><li>Massively distributed</li><li>ACID compliance</li><li>Automatic sharding and synchronous replication with low latency</li><li>Schema updates without downtime</li><li>Auto-scales&nbsp;up and down as needed</li><li><a href="https://cloud.google.com/spanner/pricing" target="_blank">Simple pricing model</a>&nbsp;&nbsp;</li></ul></div><div style="color: black; font-family: verdana,sans-serif; font-size: small;"><b>This proves the point that eventually both relational and non-relational databases will merge!</b></div><div style="color: black; font-family: verdana,sans-serif; font-size: small;"><br /></div><div style="color: black; font-family: verdana,sans-serif; font-size: small;">Cheers!</div></div></div>