---
layout: post
title: 'SQLSaturday #908 - Denver'
date: '2019-10-15T13:24:00.001-07:00'
author: Susanthab
tags: 
modified_time: '2019-10-15T13:24:52.797-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-4753315788899671480
permalink: /2019/10/sqlsaturday-908-denver.html
---

  <br /><span style="mso-ascii-font-family: Calibri; mso-bidi-font-family: Calibri; mso-hansi-font-family: Calibri;">I completed another SQLSat session this week at Denver. It was pleasure to see about 20 folks for my presentation about SQL Server on Kubernetes. I’m really happy to see several sessions around containers which is really good. DBAs are not stepping into this new technology era of virtualization to run SQL Server or any other database workload on kuberneres. </span><br />  <br /><br />  <br /><span style="color: black; font-family: &quot;Arial&quot;,sans-serif;"><a href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftwitter.com%2Fdenversql%2Fstatus%2F1183116130073894913%3Fs%3D09&amp;data=02%7C01%7C%7C6d0b47cc880a40ea4ffd08d7502d6683%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637066028487509311&amp;sdata=PLA8NPCRsp0LSazpV8YhiYJCVgpudFw54PtDFYPrBTE%3D&amp;reserved=0">https://twitter.com/denversql/status/1183116130073894913?s=09</a></span><br />  <b></b><i></i><u></u><sub></sub><sup></sup><strike></strike>