---
layout: post
title: 'PostgreSql: How to setup Pgbouncer'
date: '2020-07-01T21:27:00.003-07:00'
author: Susanthab
tags:
- Pgbouncer
modified_time: '2020-07-07T08:34:12.623-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-4774090315227756754
permalink: /2020/07/postgres-how-to-setup-pgbouncer.html
---

PostgreSql needs a middleware program to handle application connections also known as connection pooling. One of the most common such middleware programs is called, <a href="https://www.pgbouncer.org/" target="_blank">Pgbouncer</a>. This blog post will highlight the changes you need to make to setup Pgbouncer so that application can connect to PostgreSql via Pgbouncer.<br /><br />I tested this with Postgres 12 and Pgbouncer 1.13.0 version on CentOS 7. In this scenario, pgbouncer and Postgres are running on the same server.&nbsp;<br /><br />Once you installed Pgbouncer, the configuration files are available on /etc/pgbouncer dir. Pgbouncer config file is, pgbouncer.ini.<span><a name='more'></a></span><div><h4 style="text-align: left;">Get username and password</h4>Before you start changing the config file, you need to find out Postgres user(s) and the database(s) which you need for the connection pooling. In Postgres cmd prompt(psql), execute the code below to get those info.<pre style="text-align: left;">select usename, passwd<br />from pg_shadow;</pre>You need both username and the passwd (please note, this password is based on md5) If you need more secure password, you'll have to follow few additional steps. I will get back to that later in this post.&nbsp;<h4 style="text-align: left;">Edit Pgbouncer.ini</h4><div>Open Pgbouncer.ini file in a text editor (vi). Make the changes as shown below; Assume the database name is <i>testdb</i> and the username is <i>testuser</i>.</div><pre style="text-align: left;">[databases]</pre><pre style="text-align: left;">testdb = host=127.0.0.1 port=5432 dbname=testdb user=testuser</pre><pre style="text-align: left;">auth_type = md5</pre><pre style="text-align: left;">listen_addr = *</pre><pre style="text-align: left;">listen_port = 6432</pre><pre style="text-align: left;">auth_file = /etc/pgbouncer/userlist.txt</pre><pre style="text-align: left;"><span style="font-family: &quot;times new roman&quot;; white-space: normal;"><b>Note</b>: 6432 is the default port of pgbouncer.&nbsp;</span></pre><h4 style="text-align: left;"><span style="font-family: &quot;times new roman&quot;; white-space: normal;">Adding Users</span></h4>Create userlist.txt file and add username and password in the file as stated below;</div><div><pre style="text-align: left;">"testuser" "md590828d6f73b12acc3866c26968bde150"</pre>Add all the users in this file which connects from the applications.<br />At this point, the very basic setup of Pgbouncer is completed. You can restart pgbouncer service and probably the Postgres service too.<br /><pre><pre><pre>systemctl restart pgbouncer</pre><pre>systemctl restart postgresql-12.service</pre><h4 style="text-align: left;"><font face=""><span style="white-space: normal;">How To Test</span></font></h4>You can use psql to test pgbouncer setup like below;<br /><pre style="text-align: left;">psql -h 127.0.0.1 -p 6432 -U testuser testdb</pre></pre></pre><div><h3 style="text-align: left;">SCRAM Secrets</h3></div><div>Pgbouncer 1.14 version (Jun-11,2020) supports encrypted SCRAM secrets for enhanced security. So that you can avoid use of md5 or plain text passwords. I found below link very useful to implement encrypted passwords.&nbsp;</div><div><br /></div><div><a href="https://info.crunchydata.com/blog/how-to-upgrade-postgresql-passwords-to-scram" target="_blank">How to Upgrade Your PostgreSQL Passwords to SCRAM<br /></a></div></div><div><br /></div><div>This is just one method of configuring pgbouncer. There are few more ways to configure pgbouncer.</div>