---
layout: post
title: SQL Server query hints which are not much popular but very powerful
date: '2020-04-12T17:30:00.000-07:00'
author: Susanthab
tags: 
modified_time: '2020-04-13T07:51:44.655-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-489115987655203616
permalink: /2020/04/sql-server-query-hints-not-very-popular.html
---

I learned some new query hints which we can use when troubleshooting query performance issues. Those are mentioned below;<br /><br /><span style="color: blue;">Option (force order, hash join)</span> - forces the query to use follow the join order as it specifies in the query and also makes all the joins as hash joins<br /><br /><span style="color: blue;">Option (Use hint ('ASSUME_JOIN_PREDICATE_DEPENDS_ON_FILTERS'))</span> -&nbsp;to generate a query plan using the simple containment<br /><br /><span style="color: blue;">Option ( Hash join)</span> -&nbsp;to eliminate the merge join<br /><br /><span style="color: blue;">Option ( force_Legacy_cardinality_estimation)</span> - Force to use the legacy cardinality estimator<br /><br /><span style="color: blue;">Option (Use hint ('ASSUME_JOIN_PREDICATE_DEPENDS_ON_FILTERS')) and (Force order )</span> - combine two query hints<br /><br />References<br /><a href="https://support.microsoft.com/en-us/help/3189675/join-containment-assumption-in-the-new-cardinality-estimator-degrades" target="_blank">Join containment assumption in the New Cardinality Estimator degrades query performance in SQL Server 2014 and later</a><br /><br /><a href="https://support.microsoft.com/en-us/help/3189813/update-introduces-use-hint-query-hint-argument-in-sql-server-2016" target="_blank">Update introduces USE HINT query hint argument in SQL Server 2016</a>