---
layout: post
title: 'SQL Server AlwaysOn: How to promote a secondary replica to primary role?'
date: '2020-06-04T11:40:00.000-07:00'
author: Susanthab
tags: 
modified_time: '2020-06-04T11:40:16.952-07:00'
blogger_id: tag:blogger.com,1999:blog-290532379135471177.post-5032140087756876251
permalink: /2020/06/sql-server-alwayson-how-to-promote.html
---

Think about a situation where you got a SQL Server Always On cluster with three nodes where one is the primary node and the other two are secondaries. The failover mode is set to manual for all three nodes. Now suddenly your primary has gone down and you need to make one of the secondaries a primary node.<br /><br />You can immediately notice that all the databases which are part of the AG are in the "<b>Not Synchronizing</b>" state in all the sync secondaries. This is expected because the primary node is not available.<br /><br />Let's see how to manage this situation.<br /><br />You need to connect to a secondary node where you want it to be the primary and then execute the following T-SQL command:<br /><br /><span style="color: blue;">ALTER DATABASE [db_name] SET HADR RESUME</span><br /><br />Apply this command for each database in the AG. You will notice the databases are now showing as "<b>Synchronized</b>" in SSMS. Yet, there is no primary.<br /><br />While being connected to the same secondary, issue the following command to make it the primary.<br /><br /><span style="color: blue;">ALTER AVAILABILITY GROUP [<i>AG-NAME</i>] FORCE_FAILOVER_ALLOW_DATA_LOSS;</span><br /><br /><b>Note</b>: Just replace the AG-NAME with the actual AG name.<br /><br />Now, the cluster has a primary node and your application can resume working.<br /><br />I just explained here a hypothetical situation but the same thing can be applied in a real situation where you're primary node had failed or it could not be failed over due to some reason. The most appropriate solution at this point is to promote one of the secondaries to a primary role, as described in the blog post.